<%= error_messages_for 'access' %>

<div class="box">
  <p><%= f.select :key, DomainsSetting.accesses.collect { |k,v| [v, k] },  { include_blank: true, label: :field_name },
  { onchange: "$('#access_name').attr('value', $(this).find(':selected').text())" } %>
    <%= f.hidden_field :name, value: '' %>
  </p>
  <p><%= f.select :domain_id, options_from_collection_for_select(Domain.visible, :id, :name, @access.domain_id),
{ include_blank: true, label: :label_domain } %></p>
  <p><%= f.text_field :url, class: "mdl-textfield__input" %></p>
  <p><%= f.text_field :login, class: "mdl-textfield__input" %></p>
  <p><%= f.text_field :password, class: "mdl-textfield__input" %></p>
  <p><%= f.text_area :description, class: "mdl-textfield__input" %></p>
</div>
