<h2>
  <% if params[:hosting] == '1' -%>
    <%= link_to l(:label_hosting_plural), { controller: 'domains', action: 'index', params: { hosting: params[:hosting] } }, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green-400 mdl-js-ripple-effect' %>
  <% else -%>
    <%= link_to l(:label_domain_plural), { controller: 'domains', action: 'index', params: { hosting: params[:hosting] } }, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green-400 mdl-js-ripple-effect' %>
  <% end %>
  <% if @domain.hosting -%>
    <%= link_to l(:label_hosting_edit), { controller: 'domains', action: 'edit', id: @domain, params: { hosting: params[:hosting] } }, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--indigo-400 mdl-js-ripple-effect' %>
  <% else -%>
    <%= link_to l(:label_domain_edit), { controller: 'domains', action: 'edit', id: @domain, params: { hosting: params[:hosting] } }, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--indigo-400 mdl-js-ripple-effect' %>
  <% end %>
</h2>

<div class="box">
  <h3>
    <%= domain_title(@domain) %>
    #<%= @domain.id %> <%= @domain.name %>
    <%= @domain.checked? ? l(:field_checked) : nil %>
  </h3>
  <p class="wiki description">
    <%= l(:field_accesses) %>: <%= @domain.accesses %>
  </p>
  <% if @domain.project.present? -%>
    <p><%= l(:field_project) %>: <%= link_to @domain.project.name, project_path(@domain.project) %></p>
  <% end %>
  <p><%= l(:field_status) %>: <%= @domain.status %></p>
  <p><%= l(:field_ending_date) %>: <%= format_date(@domain.ending_date) %></p>
  <% @domain.custom_field_values.each do |custom_value| -%>
    <% unless custom_value.value.blank? -%>
      <p><%= custom_value.custom_field.name%>: <%=h show_value(custom_value) %></p>
    <% end %>
  <% end %>
</div>
